:root {
  --gold: #FFD700;
  --gold-dark: #D4AF37;
  --nav-bg: #1a1a1a;
  --green: #00FF7F;
  --blue: #1E90FF;
  --light: #f4f4f4;
  --red: #FF2400;
  --dark: #1a1a1a;
}



      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
